@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .tiptap h1 {
    @apply md:text-5xl text-4xl;
    @apply font-medium;
    @apply font-serif;
    @apply md:leading-snug leading-[1.1];
  }

  .tiptap h2 {
    @apply md:text-4xl text-[2rem];
    @apply font-medium;
    @apply font-serif;
    @apply md:leading-snug leading-[1.1];
  }

  .tiptap h3 {
    @apply text-3xl;
    @apply font-medium;
    @apply font-serif;
    @apply md:leading-snug leading-[1.1];
  }
  
  .tiptap p {
    @apply md:text-[1.2rem] text-base;
    @apply md:leading-[1.7] leading-[1.5];
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --accent-green: 94 96% 47.5%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 3%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 15%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 3%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 3%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 15%;
    --input: 217.2 32.6% 15%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 15%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 15%;
    --accent-foreground: 210 40% 98%;
    --accent-green: 94 96% 64%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 15%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;  
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


/* Tiptap */
.tiptap ul,
.tiptap li,
.tiptap ol {
  list-style: inherit;
  padding: 0 0.25rem;
  margin-left: 0.75rem;
}

.tiptap ol {
  list-style-type: decimal;
}

.tiptap a {
  color: #0490D5;
  cursor: pointer;
}

.tiptap img {
  height: 100%;
  object-fit: cover;
  max-width: 100%;
}

.tiptap img.ProseMirror-selectednode {
  outline: 1px solid hsl(var(--accent-green)/ 0.5);
}

.tiptap blockquote {
  border-left: 3px solid hsl(var(--muted)/ 0.5);
  padding-left: 1rem;
}

.tiptap pre {
  color: hsl(var(--primary));
  border-radius: 0.5rem;
  background: hsl(var(--muted)/ 0.5);
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  overflow-x: auto;
}

.tiptap pre code {
  padding: 0;
  border-radius: 0;
  background: none;
}

.tiptap code {
  background: hsl(var(--muted)/ 0.5);
  font-family: "JetBrainsMono", monospace;
  color: inherit;
  font-size: 0.8rem;
  box-decoration-break: clone;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.tiptap hr {
  margin: 0.5rem 0;
}

.tiptap hr.ProseMirror-selectednode {
  border-top: 1px solid hsl(var(--muted)/ 0.5);
}

.tiptap iframe {
  border: 2px solid hsl(var(--border)/ 0.5);
  border-radius: 4px;
  min-width: 200px;
  min-height: 200px;
  width: 100%;
  min-width: 100%;
  overflow: hidden;
  display: block;
  outline: 0px solid transparent;
}

.tiptap div[data-youtube-video] {
  cursor: move;
}

.tiptap .ProseMirror-selectednode iframe {
  transition: outline 0.15s;
  outline: 1px solid hsl(var(--accent-green)/ 0.5);
}


/* Code Block */
.hljs-comment,
.hljs-quote {
  color: #616161;
}

.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #f98181;
}

.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: #fbbc88;
}

.hljs-string,
.hljs-symbol,
.hljs-bullet {
  color: #b9f18d;
}

.hljs-title,
.hljs-section {
  color: #faf594;
}

.hljs-keyword,
.hljs-selector-tag {
  color: #70cff8;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: 700;
}


/* Place holder setup */
.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

/* Editor output */
.output {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
